.App{
  height: 100vh;
}
#light {
  background-color:grey;
}

.card{
  background-color: grey;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 300px;

}

.user {
  display: grid;
  grid-template-columns: auto auto auto;
}
